{% extends '../base.html' %}

{% block title %}Listagem de Pet{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f0f8f8;
    }
</style>
<div>
    <h2 class="h2-title-list">Prontuário</h2>
</div>
<div class="search-bar">
    <input type="text" placeholder="🔍 Buscar pela consulta">
</div>

<div class="table-container">
    <div class="header-row">Listar prontuário</div>
    <table>
        <thead>
            <tr>
                <th>Diagnóstico</th>
                <th>Tratamento</th>
                <th>Anotações</th>
                <th>Consulta</th>
            </tr>
        </thead>
        <tbody>
            {% for records in medicalrecords %}
            <tr>
                <td>{{ records.diagnosis }}</td>
                <td>{{ records.treatment }}</td>
                <td>{{ records.notes }}</td>
                <td>{{ records.appointment_id.pet.name}}  - {{ records.appointment_id.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
