{% extends '../base.html' %}

{% block title %}Cadastro de Pet{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f0f8f8;
    }
    
</style>

<form method="post" class="form-pet">
    {% csrf_token %}

    <h2 class="title-pet">Cadastro pet</h2>

    <div class="mb-3">
        <label for="name">Nome</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="form-row">
        <div class="mb-3">
            <label for="species">Espécie</label>
            <input type="text" class="form-control" name="species" id="species">
        </div>
        <div class="mb-3">
            <label for="breed">Raça</label>
            <input type="text" class="form-control" name="breed" id="breed">
        </div>
    </div>

    <div class="mb-3">
        <label for="birthdate">Aniversário</label>
        <input type="date" class="form-control" name="birthdate" id="birthdate" required>
    </div>

    <div class="mb-3">
        <label for="user_id">Tutor</label>
        <select class="form-control" name="user_id" id="user_id">
            <option value="">Selecione o tutor</option>
            {% for user in usuarios %}
                <option value="{{ user.id }}">{{ user.id }} - {{ user.username }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="d-flex justify-content-between">
        <a href="{% url 'listar_pets' %}" class="btn " id="btn-cancelar">Cancelar</a>
        <button type="submit" class="btn " id="btn-cadastrar">Cadastrar</button>
    </div>
</form>
{% endblock %}