{% extends '../base.html' %}

{% block title %}Cadastro de Pet{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Cadastrar Pet</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="mb-3">
            <label class="form-label">Espécie</label>
            <input type="text" class="form-control" name="species">
        </div>

        <div class="mb-3">
            <label class="form-label">Raça</label>
            <input type="text" class="form-control" name="breed">
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" name="birthdate" required>
        </div>

        <div class="mb-3">
            <label class="tst-label">Tutor</label>
            <select class="form-control" name="user_id">
                <option value="">Selecione o tutor</option>
                {% for user in usuarios %}
                    <option value="{{ user.id }}">{{ user.id }} - {{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}



